/* MENU */
nav{
    display: flex;
    margin: 0;
    max-width: 100%;
    margin-top: 0px;
    
}
nav ul{
    display: flex;
    width: 65%;
    justify-content: flex-end;
    gap: 60px;
    padding: 0;
    margin-top: 40px;
}
nav ul li{
    display: flex;
    flex-direction: row;
    height: 30px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 9px;
    transition: background-color 0.5s ease-in-out;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Monte;
    margin-left: 7px;
    max-width: 300px;
}

nav ul li:hover{
    background-color: #908FE6;
    
}

/*LOGO MENU*/
.logo{
    max-width: 200px;
    height: 200px;
    margin-top: -40px;
    margin-left: 150px;
}

nav ul li.acceso{
    display: none;
}

@media (max-width: 1180px){

    nav{
        justify-content: center;
        gap: 27px;
    }
    .logo{
        margin-left: -50px;
        margin-top: -65px;
        width: 250px;
        height: 250px;
    }
    nav ul li.anuncio{
        display: none !important;
    }

}

@media (max-width: 1027px){

    nav{
        justify-content: center;
        gap: 27px;
    }

    .logo{
        margin-left: -50px;
        margin-top: -65px;
        width: 250px;
        height: 250px;
    }

    nav ul li a{
        font-size: 20px;
        margin-top: 3px;
    }
}


@media (max-width: 769px){

    nav ul{
        justify-content: center;
        
    }

    nav ul li{
        margin-left: 150px;
    }

    nav ul li.anuncio{
        display: none !important;
    }

    .logo{
        margin-left: 10px;
    }

    nav ul li a{
        font-size: 10px;
        margin-top: 9px;
        width: 150px;
    }
}

@media (max-width: 427px){

    nav{
        max-width: 100%;
        justify-content: center;
    }

    nav ul{
        display: flex;
        justify-content: center;
    }

    nav ul li.anuncio{
        display: none !important;
    }

    nav ul li{
        margin: 0;
    }

    .logo{
        margin-left: 0px;
        width: 170px;
        height: 170px;
        margin-top: -20px;
    }

    nav ul li a{
        font-size: 10px;
        margin-top: 9px;
        width: 150px;
    }
    
}

@media (max-width: 377px){

    nav ul{
        display: flex;
        justify-content: center;
    }

    nav ul li.anuncio{
        display: none !important;
    }

    .logo{
        margin-left: 0px;
        margin-top: -25px;
    }

    nav ul li.iniciar a{
        font-size: 7px;
        margin-right: 20px;
        margin-top: 12px;
        width: 90px;
    }

    nav ul li.iniciar{
        padding: 5px;
    }

}

@media (max-width: 325px){


    nav ul{
        display: flex;
        justify-content: center;
    }

    .iniciar{
        display: none !important;
    }

    nav ul li.anuncio{
        display: none !important;
    }

    .logo{
        margin-left: 0px;
        width: 180px;
    }

    nav ul li.acceso a{
        font-size: 8px;
        margin-right: 20px;
        width: 20px;
    }

    nav ul li.acceso{
        padding: 3px;
        display: block;
        display: flex;
        justify-content: center;
    }

}

