<header>
    <nav>
        <img class="logo" src="/images/logoMiespacioideal.png" alt="">
      <ul>
        <li class="anuncio">
          <img src="/images/publicidad-digital.png" alt="" width="30px" height="30px">
          <a href="">Pon tu primer Anuncio</a>
        </li>
        <li class="iniciar">
          <img src="/images/usuario.png" alt="" width="30px" height="30px">
          <a href="/users/login">Iniciar Sesión/Registrarse</a>
        </li>
        <li class="acceso">
          <img src="/images/usuario.png" alt="" width="30px" height="30px">
          <a href="">Acceso</a>
        </li>
      </ul>
    </nav>
</header>