<div id="loader" class="loader-overlay">
  <div class="loader-box">
    <svg class="loader-logo-svg" viewBox="0 0 400 120">
      <polyline class="logo-house" points="40,70 80,30 120,70 120,110 40,110 40,70" />
      <rect class="logo-door" x="75" y="80" width="30" height="30" />
      <text class="logo-text" x="150" y="95">EspacioIdeal</text>
    </svg>
  </div>
</div>